@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
h1 {
  color: #777;
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #777
}

#signin {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid red;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: 2em;
  height: 800px;
  background: white;
  background-size: 100%;
}

.home {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.circle {
  text-align: center;
  /* justify-content: center;
  align-items: center;
  align-self: center; */
  position: absolute;
  left: 50%;
  top: 57%;
  transform: translate(-50%,-50%);
  min-height: 500px;
  min-width: 500px;
  border-radius: 50%;
  padding: 10px;
  margin: 5px;
  box-shadow: 5px 5px 5px black;
  background-image: linear-gradient(#2A5298, #1e3c72);
  color: white;
}

.text {
  animation-duration: 3s;
  animation-name: slidein;
}

.activity {
  animation-duration: 6s;
  animation-name: slidein;
}

.subheading {
 text-align: center;
  color: #777;
  margin-bottom: 200px;
}

.homepage-header {
  text-align: center;
  
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}


